<nav class="navbar navbar-default custom-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Docer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Account</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
      <form class="nav navbar-nav navbar-right">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>

        </div>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="fluid-container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <form>
            <div class="form-group row">
              <label for="name" class="col-xs-2 col-form-label">Name</label>
              <div class="col-xs-10">
                <input class="form-control" type="name" id="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-xs-2 col-form-label">Description</label>
              <div class="col-xs-10">
                <input class="form-control" type="description" id="description">
              </div>
            </div>

            <div class="form-group row" style="text-align:center;">
              <button type="button" class="btn btn-success">Create</button>
            </div>
          </form>

        </div>
        <div class="col-xs-6 col-md-6">
          <div class="" id="radioContainer" style="display: block; overflow-y: auto; height: 130px;">
            <input class="control control--radio" type="radio" name="distance" value="1" />Group #1
            <br>
            <input class="control control--radio" type="radio" name="distance" value="2" />Group #2
            <br>
            <input class="control control--radio" type="radio" name="distance" value="3" />Group #3
            <br>
            <input class="control control--radio" type="radio" name="distance" value="4" />Group #4
            <br>
            <input class="control control--radio" type="radio" name="distance" value="5" />Group #5
            <br>
            <input class="control control--radio" type="radio" name="distance" value="5" />Group #6
            <br>
            <input class="control control--radio" type="radio" name="distance" value="8" />Group #7
            <br>
            <input class="control control--radio" type="radio" name="distance" value="9" />Group #8
            <br>
          </div>

          <div class="form-group row">
            <label for="invite" class="col-xs-2 col-form-label">Invite Member:</label>
            <div class="col-xs-10">
              <input class="form-control" type="invite" id="invite">
            </div>
          </div>

          <div class="form-group row" style="text-align:center;">
            <button type="button" class="btn btn-info">Invite</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>