<div class ="row">
	<div class="groupBox col-xs-5">
		<div ng-controller="GroupList">
			<label ng-repeat="group in groups">
				<div class="groupCheckBox">
					<input type="checkbox" checklist-model="user.groups" checklist-value="group" > 
					{{group.text}}
				</div>
			</label>
		</div>
		
		<!-- modal controller TODO -->
		<a href ng-click="showYesNo()" class="fa fa-cogs groupSettingsIcon" aria-hidden="true"></a>
		
		<!-- Rotating Document Box Box TODO -->
		<div class = "rotatingDocBox"> </div>
	</div>

	<!-- actions within a group-->
	<div class="col-xs-3 col-xs-push-2 groupActionsBox" >
		Group Actions Box
	</div>
</div>