<div ng-show="show">

            <div class="col-md-8 col-lg-8 col-sx-6>">
                <div class="panel panel-warning" style="height: 460px">
                    <div class="panel-heading" style="height: 460px">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h1 class="page-header">Update Existing User</h1>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-5">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="name" id="name"  class="form-control" ng-model="name">
                                </div>

                                <div class="form-group">
                                    <label>Email Address:</label>
                                    <input type="text" name="email" id="email"  class="form-control" ng-model="email">
                                </div>

                                <div class="form-group">
                                    <label>Created At:</label>
                                    <p class="form-control-static">{{create}}</p>
                                </div>
                                
                                <div class="form-group">
                                    <label>Updated At:</label>
                                    <p class="form-control-static">{{update}}</p>
                                </div>

                            </div>
                            <div class="col-md-5">
                                <form name="form" ng-submit="updateCtrl.search()" role="form">
                                    <h3>Search for a User By ID</h3>
                                    <div class="form-group input-group">
                                        <input type="text" name="userid" id="userid" class="form-control" ng-model="updateCtrl.userid" required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Search <i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <button type="button" ng-click="updateCtrl.update()" class="btn btn-warning pull-right">Update User</button>
                                <p>{{message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
